*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%
}

body{
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;

    box-sizing: border-box;
}

main {
    padding: 1.6rem;
}

img {
    height: 20rem;
}

a{
    text-decoration: none;
    font-weight: 700;
}

/* --- header --- */

.header__link:link,
.header__link:visited{
    color: white;
    transition: all .2s;
}

.header__link:hover{
    opacity: .8;
}

nav {
    background-color: rgb(255, 126, 79);
    padding: 16px;
}

/* --- main --- */

main h1{
    color: rgb(55, 118, 55);
}

main a{
    color: rgb(60, 146, 82);
}

.main__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5rem;
}


/* ---> detail.html main */
th{
    font-weight: 900;
}

tr:nth-child(even){
    background-color: grey;
}


/* --- footer --- */

footer{
    background-color: rgb(142, 190, 69);
    padding: 2.5rem 3.5rem;
}
